/* 
		Name: NUR YASMIN BINTI MOHD KAHAR
		Date: 25/5/2021
*/
body {
	color: white;
	font-family: Roboto, Arial,sans-serif;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
	
}
.grid-item {
	display: grid;
	text-align: left;
	padding: 5px;
}
h2 {
	align-items: center;
	text-align: center;
	position: relative;
	height: 250px;
	background-image: url(banner.jpg);
	display: flex;
	justify-content: center;
}
fieldset {
	background-color: rgb(214, 234, 248);
}

legend {
	padding: 10px;
	background-color: #1c87c9;
}

label {
	color: black;
}

input {
	padding: 5px;
	width: 100%;
	border-radius: 8px;
	border-style: solid;
}
textarea{
	padding: 5px;
	width: 80%;
	border-radius: 8px;
}
input:focus {
	border-width: 2px;
	border-color: #43D1AF;
}
input[type=submit],[type=reset]{
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border: none;
}
